## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

.DS_Store

Carthage

3rdparty/boost/boost.framework
3rdparty/tbb_libs/libtbb.a
3rdparty/tbb_libs/libtbbmalloc.a

Osrm.framework.zip
OsrmDirections.framework.zip
